﻿@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Alberto Ramírez Losilla</strong><br />
    <strong>Email: </strong><a href="mailto:alberto.ramirez.losilla@gmail.com">alberto.ramirez.losilla@gmail.com</a><br />
    <strong>Teléfono: </strong>664153757

</address>
