﻿
@model Notes2.Models.Note


@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="text" class="control-label"></label>
                <textarea asp-for="text" class="form-control" id="summernote"></textarea>
                <!--<input asp-for="text" class="form-control" />-->
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="~/lib/summernote/summernote.js"></script>
    <link href="~/lib/summernote/summernote.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>

}


