﻿@model IEnumerable<Notes2.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Notes" asp-action="Index">
    <div style="padding-top: 20px;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Contenido de la nota" aria-label="Contenido de la nota" aria-describedby="button-addon2" name="searchString">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
            </div>
        </div>
        <div style="float:right;">
            <button class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("Create","Notes")'">Crear nota</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Contenido
            </th>
            <th>
                Creado
            </th>
            <th>
                Editado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
